$main-font-color:#333;
$main-small-font-color:#666;





/*********Edit Can*************/
$main-href-color:#ffa200;
$main-href-active-color: #ffc109;

$main-button-color:#ffa200;
$main-button-active-color: #ffc109;